.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 49px;
}

.header {
  background: #1C1C21;
}

.header__wrap {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1240px;
}

.nav__link {
  text-decoration: none;
  display: flex;
}

.header .nav__link_type_active {
  color: inherit;
}

.profile__link {
 composes: nav__link;
}
.header .profile__link_type_active {
  color: white;
}
